<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>


    <title>Admin Chat</title>

    <script type="text/javascript">
        function btnChange(x) {
            if(x>0)
            {
                document.getElementsByTagName('button')[0].removeAttribute('disabled')
            }
            else
            {
                document.getElementsByTagName('button')[0].setAttribute('disabled','')
            }
        }
    </script>
</head>
<body style="margin: 0;">

    <div id="loading" style="position: fixed; left: 0; top: 0; height: 100%; width: 100%; background: rgba(255, 255, 255, 0.7); display: none; z-index: 100;">
        <span style="position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);"><h2>Sending...</h2></span>
    </div>

    <div style="display: flex; flex-direction: column; height: 100vh;">
        <div style="flex-grow: 1; overflow-y: none; position: relative; width: 100%;">
            <div id="chats" style="overflow: auto; position: absolute; width: 100%; bottom: 0; max-height: 100%;">
                <!-- <div class="ml-auto my-1 chat-unit mr-3" style="max-width: 80%; text-align: right;">
                    <div style="padding: 5px 10px; text-align: justify; display: inline-block; background: #bbb; border-radius: 5px;">
                        hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello
                    </div>
                </div> -->
                <% chat.messages.forEach(message => {
                    if(message.sender)
                    {
                        %>
                        <div class="ml-auto my-1 chat-unit mr-3" style="max-width: 80%; text-align: right;">
                            <div style="padding: 5px 10px; text-align: justify; display: inline-block; background: #bbb; border-radius: 5px; max-width: 100%; overflow-wrap: break-word;">
                                <%- message.message %>
                                <br>
                                <% var time = new Date(message.time);
                                var month = time.getMonth() + 1;
                                if(month<10){month = '0'+month;}
                                var minutes = time.getMinutes();
                                if(minutes < 10){minutes = '0' + minutes;}
                                var hours = time.getHours();
                                if(hours == 0){hours = '0' + hours + ':' + minutes + ' AM'}
                                else if(hours < 12){hours = hours + ':' + minutes + ' AM'}
                                else if(hours == 12){hours = hours + ':' + minutes + ' PM'}
                                else {hours = (hours % 12) + ':' + minutes + ' PM'} %>
                                <small class="text-muted pt-2" style="display: block; text-align: right;"><%= time.getDate() %>/<%= month %>/<%= time.getFullYear() %> <%= hours %></small>
                            </div>
                        </div>
                        <%
                    }
                    else
                    {
                        %>
                        <div class="mr-auto my-1 chat-unit ml-3" style="max-width: 80%; text-align: left;">
                            <div style="padding: 5px 10px; text-align: justify; display: inline-block; background: #dedede; border-radius: 5px; max-width: 100%; overflow-wrap: break-word;">
                                <%- message.message %>
                                <br>
                                <% var time = new Date(message.time);
                                var month = time.getMonth() + 1;
                                if(month<10){month = '0'+month;}
                                var minutes = time.getMinutes();
                                if(minutes < 10){minutes = '0' + minutes;}
                                var hours = time.getHours();
                                if(hours == 0){hours = '0' + hours + ':' + minutes + ' AM'}
                                else if(hours < 12){hours = hours + ':' + minutes + ' AM'}
                                else if(hours == 12){hours = hours + ':' + minutes + ' PM'}
                                else {hours = (hours % 12) + ':' + minutes + ' PM'} %>
                                <small class="text-muted pt-2" style="display: block; text-align: left;"><%= time.getDate() %>/<%= month %>/<%= time.getFullYear() %> <%= hours %></small>
                            </div>
                        </div>
                        <%
                    }
                }); %> 
            </div>
        </div>

        <div class="row m-0">
            <div class="col-6">
                <p class="mb-0" style="padding: 5px 10px 0;">
                    <small>
                        <b>Chatting with team <%= chat.teamName %></b>
                    </small>
                </p>
            </div>

            <div class="col-6">
                <p class="mb-0" style="padding: 5px 10px 0;">
                    <% if(!chat.userUnread && chat.messages[chat.messages.length - 1] && chat.messages[chat.messages.length - 1].sender)
                    {
                        %><small style="text-align: right; display: block;" id="seen">Seen</small><%
                    }
                    else
                    {
                        %><small style="text-align: right; display: none;" id="seen">Seen</small><%
                    } %>
                </p>
            </div>
        </div>
        
        <div id="input-cont" style="display: flex; flex-direction: row; padding: 0 10px 10px;">
            <textarea onkeyup="btnChange(this.value.trim().length);" onchange="btnChange(this.value.trim().length);" type="text" name="" id="input" rows="3" style="flex-grow: 1; resize: none;"></textarea>
            <button onclick="sendMessage();" disabled>Send</button>
        </div>
    </div>
    
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>

    <script>
        const adminEvent = '<%= adminEvent %>';
        
        const socket = io('/');

        socket.emit(adminEvent);

        socket.on('refresh', () => {
            alert('Error Occurred! Refreshing...');
            location.reload();
        });

        socket.on('new-msg', (teamName, message, time) => {
            if(teamName == '<%= chat.teamName %>')
            {
                var element = document.createElement('div');
                element.setAttribute('class', 'mr-auto my-1 chat-unit ml-3');
                element.setAttribute('style', 'max-width: 80%; text-align: left;');

                var finalTime = new Date(time);

                var month = finalTime.getMonth() + 1;
                if(month<10){month = '0'+month;}

                var minutes = finalTime.getMinutes();
                if(minutes < 10){minutes = '0' + minutes;}
                var hours = finalTime.getHours();
                if(hours == 0){hours = '0' + hours + ':' + minutes + ' AM'}
                else if(hours < 12){hours = hours + ':' + minutes + ' AM'}
                else if(hours == 12){hours = hours + ':' + minutes + ' PM'}
                else {hours = (hours % 12) + ':' + minutes + ' PM'}
                
                element.innerHTML = '<div style="padding: 5px 10px; text-align: justify; display: inline-block; background: #dedede; border-radius: 5px; max-width: 100%; overflow-wrap: break-word;">'+message+'<br><small class="text-muted pt-2" style="display: block; text-align: left;">' + finalTime.getDate() + '/' + month + '/' + finalTime.getFullYear() + ' ' + hours + '</small></div>';
                document.getElementById('chats').append(element);

                document.getElementById('seen').style.display = 'none';

                document.getElementById('chats').scrollTop = document.getElementById('chats').scrollHeight;


                if(document.visibilityState == 'visible')
                {
                    setTimeout(() => {
                        socket.emit('admin-read', '<%= chat._id %>');
                    }, 1000);
                }
                
            }
        })

        document.onvisibilitychange = () => {document.visibilityState == 'visible' && socket.emit('admin-read', '<%= chat._id %>')}

        socket.on('user-read', (teamName) => {
            if(teamName == '<%= chat.teamName %>')
            {
                var chatUnit = document.getElementsByClassName('chat-unit');
                if(chatUnit.length>0)
                {
                    if(chatUnit[chatUnit.length - 1].style.textAlign == 'right')
                    {
                        document.getElementById('seen').style.display = 'block';
                    }
                }
            }
        })

        function htmlEntities(str) {
            return String(str).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/"/g, '&quot;');
        }

        function sendMessage() {
            var msg = document.getElementById('input').value.trim();
            if(msg.length>0)
            {
                msg = htmlEntities(msg)

                socket.emit('msg-to-user', '<%= chat.teamName %>', msg.split('\n').join('<br>'), '<%= chat._id %>', (time) => {
                    sendAck(msg.split('\n').join('<br>'), time.time);
                });

                document.getElementById('loading').style.display = 'block';

                document.getElementById('input').value = '';
                document.getElementsByTagName('button')[0].setAttribute('disabled','')
            }
            else
            {
                return;
            }
        }

        function sendAck(msg, time)
        {
            var element = document.createElement('div');
            element.setAttribute('class', 'ml-auto my-1 chat-unit mr-3');
            element.setAttribute('style', 'max-width: 80%; text-align: right;');

            var finalTime = new Date(time);

            var month = finalTime.getMonth() + 1;
            if(month<10){month = '0'+month;}

            var minutes = finalTime.getMinutes();
            if(minutes < 10){minutes = '0' + minutes;}
            var hours = finalTime.getHours();
            if(hours == 0){hours = '0' + hours + ':' + minutes + ' AM'}
            else if(hours < 12){hours = hours + ':' + minutes + ' AM'}
            else if(hours == 12){hours = hours + ':' + minutes + ' PM'}
            else {hours = (hours % 12) + ':' + minutes + ' PM'}

            element.innerHTML = '<div style="padding: 5px 10px; text-align: justify; display: inline-block; background: #bbb; border-radius: 5px; max-width: 100%; overflow-wrap: break-word;">'+msg+'<br><small class="text-muted pt-2" style="display: block; text-align: left;">' + finalTime.getDate() + '/' + month + '/' + finalTime.getFullYear() + ' ' + hours + '</small></div>';

            document.getElementById('chats').append(element);

            document.getElementById('chats').scrollTop = document.getElementById('chats').scrollHeight;

            document.getElementById('seen').style.display = 'none';

            document.getElementById('loading').style.display = 'none';
        }

        document.getElementById('chats').scrollTop = document.getElementById('chats').scrollHeight;
    </script>
</body>
</html>