<!DOCTYPE html>
<html>
	<head>
		<title>Home | Innovations</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width = device-width, initial-scale=1" />
		<link
			rel="stylesheet"
			type="text/css"
			href="assets/css/bootstrap.min.css"
		/>
		<link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css" />
		<link
			rel="stylesheet"
			type="text/css"
			href="assets/css/templatemo-art-factory.css"
		/>
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="css/styles.css" />
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Rubik&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />

		<script>
			var permission = false;
			var sendNotification = false;
			var currentMessage;
			var prevBody = '';
			var count = 0;
			var notify;
			var notifOn = false;

			function chatToggle() {
				if(document.getElementById('chat-close').style.display == 'none')
				{
					document.getElementById('chatbox-home').style.bottom = '0';
					document.getElementById('chat-close').style.display = 'block';
					document.getElementById('chat-active').style.display = 'block';
					if(window.innerWidth<=575)
					{
						document.getElementById('chatbox-home').style.height = '100%';
					}
					else
					{
						document.getElementById('chatbox-home').style.height = '500px';
					}

					document.getElementById('chat-frame').contentDocument.getElementById('input').focus();
				}
				else
				{
					if(window.innerWidth<=575)
					{
						document.getElementById('chatbox-home').style.height = window.innerHeight + 'px';
						var btm = window.innerHeight - 32;
						document.getElementById('chatbox-home').style.bottom = '-'+btm+'px';
					}
					else
					{
						document.getElementById('chatbox-home').style.bottom = '-468px';
					}
					document.getElementById('chat-close').style.display = 'none';
					document.getElementById('chat-active').style.display = 'none';
				}
				readUnread()
			}
			
		</script>
	</head>

	<body>
		<!--Navbar-->
		<nav class="navbar navbar-expand-md" style="box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06)">
			<div class="container">
				<a href="/" class="navbar-brand mr-auto"> INNOVATIONS </a>
				<button
					class="navbar-toggler"
					data-toggle="collapse"
					data-target="#navbarid"
				>
					<span
						><i
							class="fa fa-bars"
							aria-hidden="true"
							style="color: #3f3d56"
						></i
					></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarid">
					<ul class="navbar-nav text-center ml-auto">
						<li class="nav-item">
							<a href="/logout" class="nav-link">Logout</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div style="padding: 20px;"></div>

		<div id="chat-active" style="display: none; z-index: 5; top: 0; left: 0;" class="position-fixed w-100 h-100"></div>


		<div id="chatbox-home" class="chatbox-home position-fixed bg-white">

			<% if(unread) { %> 
			<div class="position-absolute bg-danger" id="new-msg-dot">
				
			</div>
			<% } else { %> 
			<div class="position-absolute bg-danger" style="display: none;" id="new-msg-dot">
			
			</div>
			<% } %> 
			
			<div class="chat-home-text bg-primary text-white p-1 pl-4 pb-2 border-bottom" onclick="chatToggle();" style="cursor: pointer;">
				<div class="row">
					<div class="col-8">Chat with Admin</div>
					<div id="chat-close" class="col-4 text-right pr-4" style="display: none;">
						<button class="btn btn-sm m-0 btn-danger py-0 bg-danger"><i class="fas fa-times" id="chat-close-icon"></i></button>
						
					</div>
				</div>
				
			</div>

			<iframe name="uni-frame" id="chat-frame" src="./user-chat" frameborder="0" style="width: 100%; height: calc(100% - 32px); overflow-y: scroll;"></iframe>
		</div>


		<div class="container">
			<div class="row">
				<div class="col-sm-6 text-center">
					<h1 id="team-name">WELCOME,<br /><%= team %></h1>
					<h3 id="chat-click" class="body-text mb-0" style="cursor: pointer;" onclick="chatToggle();">
						<span class="d-inline-block" style="max-width: 75%;">
							Need help? Chat Now...
							<br>
							<% if(unread) { %> 
							<a href="#" id="new-msg">
								<small class="text-danger">You have Unread Messages!</small>
							</a>
							<% } else { %> 
							<a href="#" id="new-msg" style="display: none;">
								<small class="text-danger">New Messages!</small>
							</a>
							<% } %> 
						</span>
						<img
						src="images/chatIcon.png"
						class="d-inline-block"
						style="width: auto; height: 50px; vertical-align: top; transform: translateY(-20px);"
						/>
					</h3>
					
				</div>
				<div class="col-sm-6 pt-0">
					<% if (teamConfirm) { %>
						<div class="row" onclick="location.href='/members'" style="cursor: pointer;">
							<div class="col-9 col-sm-9 col-md-9 col-lg-8 mx-auto py-3 text-center">
								<h3>
									<u>View Members</u>
								</h3>
								<small class="text-success"><b>Confirmed</b></small>
							</div>
							<div class="col-3 col-sm-3 col-md-3 col-lg-4 mx-auto py-3">
								<button class="next-button text-success">
									<i class="fas fa-check-circle fa-2x"></i>
								</button>
							</div>
						</div>
					<% } else if(!teamConfirmDeadline) { %>
						<div class="row" onclick="location.href='/members'" style="cursor: pointer;">
							<div class="col-9 col-sm-9 col-md-9 col-lg-8 mx-auto py-3 text-center">
								<h3>
									<u>Add members to your team!</u>
								</h3>
								<small class="text-primary">Last Date: <%= teamConfirmDate %></small>
							</div>
							<div class="col-3 col-sm-3 col-md-3 col-lg-4 mx-auto py-3">
								<button class="next-button text-primary">
									<i class="fa fa-angle-right fa-3x"></i>
								</button>
							</div>
						</div>
					<% } else { %>
						<div class="row">
							<div class="col-9 col-sm-9 col-md-9 col-lg-8 mx-auto py-3 text-center">
								<h3>
									<u>Team confirmation</u>
								</h3>
								<small class="text-danger">Deadline Passed!</small>
							</div>
							<div class="col-3 col-sm-3 col-md-3 col-lg-4 mx-auto py-3">
								<button class="next-button text-danger">
									<i class="fas fa-times fa-2x"></i>
								</button>
							</div>
						</div>
					<% } %>

					<hr class="my-0">

					<% if (submitted) { %>
						<div class="row" onclick="location.href='/upload'" style="cursor: pointer;">
							<div class="col-9 col-sm-9 col-md-9 col-lg-8 mx-auto py-3 text-center">
								<h3>
									<u>Abstract Submission</u>
								</h3>
								<small class="text-success"><b>Done</b></small>
							</div>
							<div class="col-3 col-sm-3 col-md-3 col-lg-4 mx-auto py-3">
								<button class="next-button text-success">
									<i class="fas fa-check-circle fa-2x"></i>
								</button>
							</div>
						</div>
					<% } else if(!submissionDeadline && (!teamConfirmDeadline || teamConfirm)) {
						if(!teamConfirm) { %>
							<div class="row">
						<% } else { %>
							<div class="row" onclick="location.href='/upload'" style="cursor: pointer;">
						<% } %>
							<div class="col-9 col-sm-9 col-md-9 col-lg-8 mx-auto py-3 text-center">
								<h3>
									<u>Submit Abstract</u>
								</h3>
								<% if(!teamConfirm) {
									%><small class="text-danger">Please confirm your team to submit abstract!</small><br><%
								} %> 
								<small>Last Date: <%= submissionDate %></small>
							</div>
							<div class="col-3 col-sm-3 col-md-3 col-lg-4 mx-auto py-3">
								<% if(!teamConfirm) { %>
									<button class="next-button text-dark" disabled>
										<i class="fa fa-angle-right fa-3x"></i>
									</button>
								<% } else { %>
									<button class="next-button text-primary">
										<i class="fa fa-angle-right fa-3x"></i>
									</button>
								<% } %>
								
							</div>
						</div>
					<% } else if (teamConfirm) { %>
						<div class="row">
							<div class="col-9 col-sm-9 col-md-9 col-lg-8 mx-auto py-3 text-center">
								<h3>
									<u>Abstract Submission</u>
								</h3>
								<small class="text-danger">Deadline Passed!</small>
							</div>
							<div class="col-3 col-sm-3 col-md-3 col-lg-4 mx-auto py-3">
								<button class="next-button text-danger">
									<i class="fas fa-times fa-2x"></i>
								</button>
							</div>
						</div>
					<% } %>
						
						<hr class="my-0">

						<%
						if (!round1Result && (!teamConfirmDeadline || teamConfirm) && ((!submissionDeadline || submitted))) { %>
							<div class="row">
								<div class="col-9 col-sm-9 col-md-9 col-lg-8 mx-auto py-3 text-center">
									<h3>
										Round 1 Results:
									</h3>
									<span class="text-primary"><span class="d-inline-block">To be declared on:</span> <%- round1Date %></span>
								</div>
								<div class="col-3 col-sm-3 col-md-3 col-lg-4 mx-auto py-3">
									<button class="next-button text-primary">
										<i class="fas fa-ellipsis-h fa-2x"></i>
									</button>
								</div>
							</div>
						<% }
						else if (status1 && submitted) { %>
							<div class="row">
								<div class="col-9 col-sm-9 col-md-9 col-lg-8 mx-auto py-3 text-center">
									<h5>
										Round 1 Results:
									</h5>
									<span class="text-primary"><span class="d-inline-block">Status:</span> <span class="d-inline-block text-success"><b><i>Qualified</i></b></span></span>
								</div>
								<div class="col-3 col-sm-3 col-md-3 col-lg-4 mx-auto py-3">
									<button class="next-button text-success">
										<i class="fas fa-check-circle fa-2x"></i>
									</button>
								</div>
							</div>
						<% }
						else if (!status1 && submitted) { %>
							<div class="row">
								<div class="col-9 col-sm-9 col-md-9 col-lg-8 mx-auto py-3 text-center">
									<h3>
										Round 1 Results:
									</h3>
									<span class="text-primary"><span class="d-inline-block">Status:</span> <span class="d-inline-block text-danger"><b><i>Did Not Qualify</i></b></span></span>
								</div>
								<div class="col-3 col-sm-3 col-md-3 col-lg-4 mx-auto py-3">
									<button class="next-button text-danger">
										<i class="fas fa-times fa-2x"></i>
									</button>
								</div>
							</div>
						<% } %>

						<hr class="my-0">
	
						<%
						if (!round1Result && (!teamConfirmDeadline || teamConfirm) && ((!submissionDeadline || submitted))) { %>
							<div class="row">
								<div class="col-9 col-sm-9 col-md-9 col-lg-8 mx-auto py-3 text-center">
									<h3>
										Payment ₹<%= totalCost %>
									</h3>
									<span class="text-primary">If selected for round 2</span>
								</div>
								<div class="col-3 col-sm-3 col-md-3 col-lg-4 mx-auto py-3">
									<button class="next-button text-dark">
										<i class="fas fa-ellipsis-h fa-2x"></i>
									</button>
								</div>
							</div>
						<% }
						else if (payment) { %>
							<div class="row">
								<div class="col-9 col-sm-9 col-md-9 col-lg-8 mx-auto py-3 text-center">
									<h3>
										Payment <%= totalCost %>
									</h3>
									<span class="text-success"><b>Done</b></span>
								</div>
								<div class="col-3 col-sm-3 col-md-3 col-lg-4 mx-auto py-3">
									<button class="next-button text-success">
										<i class="fas fa-check-circle fa-2x"></i>
									</button>
								</div>
							</div>
						<% } else if(status1 && !paymentDeadline) { %>
							<div class="row" onclick="location.href='/payment'" style="cursor: pointer;">
								<div class="col-9 col-sm-9 col-md-9 col-lg-8 mx-auto py-3 text-center">
									<h3>
										Payment <%= totalCost %>
									</h3>
									<span class="text-danger">Pending</span>
									<br>
									<small>Last Date: <%= paymentDate %></small>
								</div>
								<div class="col-3 col-sm-3 col-md-3 col-lg-4 mx-auto py-3">
									<button class="next-button text-primary">
										<i class="fa fa-angle-right fa-3x"></i>
									</button>
								</div>
							</div>
						<% } else if (status1 && paymentDeadline) { %>
							<div class="row">
								<div class="col-9 col-sm-9 col-md-9 col-lg-8 mx-auto py-3 text-center">
									<h3>
										Payment <%= totalCost %>
									</h3>
									<span class="text-danger">Deadline Passed!</span>
								</div>
								<div class="col-3 col-sm-3 col-md-3 col-lg-4 mx-auto py-3">
									<button class="next-button text-danger">
										<i class="fas fa-times fa-2x"></i>
									</button>
								</div>
							</div>
						<% } %>	
						
						<hr class="my-0">
					
					<% if(payment && round1Result && !round2Start) {
						%>
						<div class="row">
							<div class="col-9 col-sm-9 col-md-9 col-lg-8 mx-auto py-3 text-center">
								<h3>
									Round 2 Date &amp; Time:
								</h3>
								<span class="text-primary"><%- round2DateTime %></span>
								<br>
								<small class="text-danger">on Microsoft Teams</small>
								<br>
								<small class="text-danger">(Link will be given on day)</small>
							</div>
							<div class="col-3 col-sm-3 col-md-3 col-lg-4 mx-auto py-3">
								<button class="next-button text-dark">
									<i class="fa fa-angle-right fa-3x"></i>
								</button>
							</div>
						</div>
						<%
					} else if(payment && round2Start && !round2End) {
						%>
						<div class="row" onclick="window.open('<%= round2Link %>', '_blank')" style="cursor: pointer;">
							<div class="col-9 col-sm-9 col-md-9 col-lg-8 mx-auto py-3 text-center">
								<h3>
									<u>Started</u>
								</h3>
								<span class="text-danger"><b>Click to join!</b></span>
								<br>
								<small class="text-primary">on Microsoft Teams</small>
							</div>
							<div class="col-3 col-sm-3 col-md-3 col-lg-4 mx-auto py-3">
								<button class="next-button text-primary">
									<i class="fa fa-angle-right fa-3x"></i>
								</button>
							</div>
						</div>
						<%
					} else if(payment && round2End && !round2Result) {
						%>
						<div class="row">
							<div class="col-9 col-sm-9 col-md-9 col-lg-8 mx-auto py-3 text-center">
								<h3>
									<u>Round 2 ended!</u>
								</h3>
								<span class="text-success">Result will be declared on: <%- round2ResultTime %></span>
							</div>
							<div class="col-3 col-sm-3 col-md-3 col-lg-4 mx-auto py-3">
								<button class="next-button text-dark">
									<i class="fa fa-angle-right fa-3x"></i>
								</button>
							</div>
						</div>
						<%
					} else if(payment && round2Result) {
						%>
						<div class="row" onclick="location.href='/winners'" style="cursor: pointer;">
							<div class="col-9 col-sm-9 col-md-9 col-lg-8 mx-auto py-3 text-center">
								<h3>
									<u>Final Results!</u>
								</h3>
								<span class="text-danger"><b>Click to View</b></span>
							</div>
							<div class="col-3 col-sm-3 col-md-3 col-lg-4 mx-auto py-3">
								<button class="next-button text-primary">
									<i class="fa fa-angle-right fa-3x"></i>
								</button>
							</div>
						</div>
						<%
					} %>

				</div>
			</div>
		</div>


		<script>
			document.getElementById('chat-active').addEventListener('click',function(event) {
				chatToggle();
			})
		</script>

		<script type="text/javascript" src="/socket.io/socket.io.js"></script>

		<script>

			const tn = '<%= team %>';
			const socket = io('/');

			function playSound() {
				var beepsound = new Audio('message.mp3'); 
				beepsound.play(); 
			}

			socket.emit('join-room', '<%= chatId %>');

			socket.on('refresh', () => {
				alert('Error Occurred! Refreshing...');
				location.reload();
			});

			socket.on('new-msg', (teamName, message) => {
				currentMessage = message;
				document.getElementById('new-msg').style.display = 'block';
				document.getElementById('new-msg-dot').style.display = 'block';
				sendNotification = true;
				readUnread();
				playSound();
			})

			document.onvisibilitychange = ()=>{
				if(document.visibilityState == 'visible')
				{
					closeNotification();
				}
				readUnread()
			}

			function closeNotification() {
				if(notifOn)
				{
					notify.close();
					count = 0;
					prevBody = '';
					notifOn = false;
				}
				
			}

			function htmlEntitiesReverse(str) {
				return String(str).replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&quot;/g, '"');
			}

			function readUnread()
			{
				if(!(document.getElementById('chat-close').style.display == 'none') && document.visibilityState == 'visible')
				{
					document.getElementById('new-msg').style.display = 'none';
					document.getElementById('new-msg-dot').style.display = 'none';
					socket.emit('user-read', '<%= chatId %>', tn);
					sendNotification = false;
					closeNotification();
				}
				else if(document.visibilityState == 'visible')
				{
					closeNotification();
				}
				else if(sendNotification && permission)
				{
					currentMessage = currentMessage.replaceAll('<small><b>Broadcast Message</b></small><br>','')
					currentMessage = currentMessage.replaceAll('<br>',' ');

					currentMessage = htmlEntitiesReverse(currentMessage)

					if(count==3)
					{
						prevBody = prevBody.split('\n')
						if(prevBody[0]==='...')
						{
							prevBody.shift();
						}
						prevBody.shift();
						prevBody.unshift('...');
						prevBody.push(currentMessage);
						prevBody = prevBody.join('\n');
					}
					else
					{
						prevBody = prevBody.split('\n');
						if(prevBody[0] !== '')
						{
							prevBody.push(currentMessage);
						}
						else
						{
							prevBody[0] = currentMessage;
						}
						
						prevBody = prevBody.join('\n');
						count++;
					}
					notify = new Notification('Message from Innovations', {
                        body: prevBody,
						icon: 'https://res.cloudinary.com/ashokc/image/upload/c_scale,w_1239/v1580042610/CSI/logo_pds7uc.png',
						tag: 'msg',
						renotify: true,
						silent: true
					});
					notify.onclick = (event) => {
						window.focus();
						document.getElementById('chatbox-home').style.bottom = '0';
						document.getElementById('chat-close').style.display = 'block';
						document.getElementById('chat-active').style.display = 'block';

						document.getElementById('chat-frame').contentDocument.getElementById('input').focus();
						readUnread();
						count = 0;
						prevBody = '';
						notifOn = false;
					}
					sendNotification = false;
					notifOn = true;
				}
			}
		</script>

		<script>
			if(window.Notification && Notification.permission !== 'denied')
			{
				Notification.requestPermission(status => {
					if(status == 'granted')
					{
						permission = true;
					}
				})
			}
		</script>
		
	</body>
</html>