<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <title>Ranking</title>

    <script>
        function searchTeams(val)
        {
            var team = document.getElementsByClassName('searchTeam');

            for(var i=0; i<team.length; i++)
            {
                if(team[i].getAttribute('team').toLowerCase().trim().startsWith(val.toLowerCase().trim()))
                {
                    team[i].style.display = 'flex';
                }
                else
                {
                    team[i].style.display = 'none';
                }
            }
        }

        function abstractReq(filename) {
            document.getElementById('loading').style.display = 'block';

            var body = 'filename=' + encodeURIComponent(filename);

            fetch("/abstract", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'                 
                },
                body: body
            })
            .then(response => response.json())
            .then(data => {
                if(data.url)
                {
                    window.open(data.url)
                    document.getElementById('loading').style.display = 'none';
                }
                else
                {
                    document.getElementById('loading').style.display = 'none';
                    alert('Error retrieving abstract!');
                }
            })
            .catch(error => {
                document.getElementById('loading').style.display = 'none';
                alert('Error retrieving abstract!');
            })
        }
    </script>
</head>
<body>

    <div id="loading" style="position: fixed; left: 0; top: 0; height: 100%; width: 100%; background: rgba(255, 255, 255, 0.7); display: none; z-index: 100;">
        <span style="position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);"><h2>Sending...</h2></span>
    </div>

    <h5 class="my-3">Ranking</h5>

    <input type="text" name="" id="" class="w-100 mb-2" placeholder="Search Teams/Usernames..." onkeyup="searchTeams(this.value);" onchange="searchTeams(this.value);">

    <div class="row mx-0 mt-2 text-center">
        <div class="col-1">
            <b>Rank</b>
        </div>
        <div class="col-4">
            <b>Team Name</b>
        </div>
        <div class="col-5">
            <b>Leader Email Address</b>
        </div>
        <div class="col-2">
            <b>Score</b>
        </div>
    </div>

    <%
    let i = 1;
    users.forEach(user => {
        %>

        <div class="searchTeam my-1" team="<%= user.teamName %>">

            <div class="row mx-0 text-center">
                <div class="col-1">
                    <%= i %>
                </div>
                <div class="col-4">
                    <a href="#" onclick="abstractReq('<%= user.uploadLink %>')"><b><%= user.teamName %></b></a>
                </div>
                <div class="col-5">
                    <%= user.username %>
                </div>
                <div class="col-2">
                    <b><%= user.status2 %></b>
                </div>
            </div>
        </div>
        <%
        i++;
    }); %>
</body>
</html>