<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>


    <title>User Chat</title>

    <script type="text/javascript">
        function btnChange(x) {
            if(x>0)
            {
                document.getElementsByTagName('button')[0].removeAttribute('disabled')
            }
            else
            {
                document.getElementsByTagName('button')[0].setAttribute('disabled','')
            }
        }
    </script>
</head>
<body style="margin: 0;">

    <div id="loading" style="position: absolute; left: 0; top: 0; height: 100%; width: 100%; background: rgba(255, 255, 255, 0.7); display: none; z-index: 100;">
        <span style="position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);"><h2>Sending...</h2></span>
    </div>

    <div style="display: flex; flex-direction: column; height: 100vh;">
        <div style="flex-grow: 1; overflow-y: none; position: relative; width: 100%;">
            <div id="chats" style="overflow: auto; position: absolute; width: 100%; bottom: 0; max-height: 100%;">
                <!-- <div class="ml-auto my-1 chat-unit mr-3" style="max-width: 90%; text-align: right;">
                    <div style="padding: 5px 10px; text-align: justify; display: inline-block; background: #bbb; border-radius: 5px;">
                        hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello
                    </div>
                </div> -->
                <% chat.messages.forEach(message => {
                    if(!message.sender)
                    {
                        %>
                        <div class="ml-auto my-1 chat-unit mr-3" style="max-width: 80%; text-align: right;">
                            <div style="padding: 5px 10px; text-align: justify; display: inline-block; background: #bbb; border-radius: 5px;">
                                <%- message.message %>
                            </div>
                        </div>
                        <%
                    }
                    else
                    {
                        %>
                        <div class="mr-auto my-1 chat-unit ml-3" style="max-width: 80%; text-align: left;">
                            <div style="padding: 5px 10px; text-align: justify; display: inline-block; background: #dedede; border-radius: 5px;">
                                <%- message.message %>
                            </div>
                        </div>
                        <%
                    }
                }); %>
            </div>
        </div>
        
        <% if(!chat.adminUnread && chat.messages[chat.messages.length - 1] && !chat.messages[chat.messages.length - 1].sender)
        {
            %><p class="mb-0" id="seen"><small class="text-right d-block pr-3">Seen</small></p><%
        }
        else
        {
            %><p class="mb-0" id="seen"><small class="text-right pr-3 d-none">Seen</small></p><%
        } %>

        <div id="input-cont" style="display: flex; flex-direction: row; padding: 10px;">
            <textarea onkeyup="btnChange(this.value.trim().length);" onchange="btnChange(this.value.trim().length);" type="text" name="" id="input" rows="3" style="flex-grow: 1; resize: none;"></textarea>
            <button onclick="sendMessage();" disabled>Send</button>
        </div>
    </div>
    
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>

    <script>
        const socket = io('/');

        socket.emit('join-room', '<%= chat._id %>');

        socket.on('refresh', () => {
            alert('Error Occurred! Refreshing...');
            location.reload();
        });

        socket.on('new-msg', (teamName, message) => {
            var element = document.createElement('div');
            element.setAttribute('class', 'mr-auto my-1 chat-unit ml-3');
            element.setAttribute('style', 'max-width: 90%; text-align: left;');
            
            element.innerHTML = '<div style="padding: 5px 10px; text-align: justify; display: inline-block; background: #dedede; border-radius: 5px;">'+message+'</div>';
            document.getElementById('chats').append(element);

            document.getElementById('seen').style.display = 'none';

            document.getElementById('chats').scrollTop = document.getElementById('chats').scrollHeight;
        })

        function sendMessage() {
            var msg = document.getElementById('input').value.trim();
            if(msg.length>0)
            {
                

                socket.emit('msg-to-admin', '<%= chat.teamName %>', msg.split('\n').join('<br>'), '<%= chat._id %>', () => {
                    sendAck(msg.split('\n').join('<br>'));
                })

                document.getElementById('loading').style.display = 'block';

                document.getElementById('input').value = '';
            }
            else
            {
                return;
            }
        }

        function sendAck(msg)
        {
            var element = document.createElement('div');
            element.setAttribute('class', 'ml-auto my-1 chat-unit mr-3');
            element.setAttribute('style', 'max-width: 90%; text-align: right;');
            element.innerHTML = '<div style="padding: 5px 10px; text-align: justify; display: inline-block; background: #bbb; border-radius: 5px;">'+msg.split('\n').join('<br>')+'</div>';

            document.getElementById('chats').append(element);

            document.getElementById('seen').style.display = 'none';
            document.getElementById('chats').scrollTop = document.getElementById('chats').scrollHeight;

            document.getElementById('loading').style.display = 'none';
        }

        socket.on('chat-scroll', () => {
            document.getElementById('chats').scrollTop = document.getElementById('chats').scrollHeight;
        })

        socket.on('admin-read', () => {
            var chatUnit = document.getElementsByClassName('chat-unit');
            if(chatUnit.length>0)
            {
                if(chatUnit[chatUnit.length - 1].style.textAlign == 'right')
                {
                    document.getElementById('seen').style.display = 'block';
                    document.getElementById('chats').scrollTop = document.getElementById('chats').scrollHeight;
                }
            }
        })

        document.getElementById('chats').scrollTop = document.getElementById('chats').scrollHeight;
    </script>
</body>
</html>